<meta charset="utf-8">
<title>ACM - University of Illinois at Urbana-Champaign</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Ye Olde HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Ye Olde fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.ico">
<!-- Ye Olde Analytics -->
<script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-30929649-1']);
          _gaq.push(['_trackPageview']);

          (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
</script>
