<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>

<div id="meme-upload-container">
  <div class="row col-centered small-12 medium-4 large-4">
    <h3>Purchase ACM Membership</h3>
    <h5>Invoice</h5>
    <table class="dynatable-container" style="margin-bottom: 1em;">
      <thead>
        <tr>
          <td>Charge</td>
          <td>Description</td>
        </tr>
      </thead>
      <tr>
        <td>$40.00</td>
        <td>ACM Membership Cost</td>
      </tr>
      <tr>
        <td>$1.50</td>
        <td>Stripe Processing Fee</td>
      </tr>
      <tr>
        <td><b>$41.50</b></td>
        <td>Total Charge</td>
      </tr>
    </table>
    <form action="/credits/purchaseMembership" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key='<%= stripePublishableKey %>'
      data-amount="4150"
      data-name="ACM @ Illinois"
      data-description="ACM Membership"
      data-image="http://acm.illinois.edu/images/acm-logo-flat-og.png"
      data-locale="auto">
    </script>
  </form>
  </div>
</div>

<%- include('_partials/footer') -%>
