<!--
Copyright © 2016, ACM@UIUC

This file is part of the Groot Project.

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>

<div id="home-container" class="row">
  <div id="main-container" class="small-12 medium-9 large-9 columns">
    <div id="links-top" class="row">
      <div id="main-left" class="small-12 medium-12 large-12 columns">
        <h3>Your information</h3>

        <h5>Hello, <%= session.username %></p>
        <% if (session.roles.isAdmin) { %>
        <p>You are an admin</p>
        <% } else if (session.roles.isRecruiter) { %>
        <p>You are a recruiter at <%= session.recruiter.company_name %></p>
        <% } else if (session.roles.isCorporate) { %>
        <p>You're a member of the corporate committee.</p>
        <% } else { %>
        <p>You are not an admin.</p>
        <% } %>
      </div>
    </div>
    <% if (session.roles.isAdmin || session.roles.isTop4) { %>
      <div id="links-top" class="row">
        <div id="main-left" class="small-12 medium-4 large-4 columns">
            <h3>Caffeine</h3>
            <p>Caffeine vending machine placeholder text</p>
            <a href="/caffeine"><button class="button">Manage</button></a>
        </div>
        <div id="main-center" class="small-12 medium-4 large-4 columns">
          <h3>User Approval</h3>
          <p>user approval page</p><a href="intranet/userApproval">
          <button class="button">Go</button></a>
        </div>
      </div>
    <% } %>

    <% if (session.roles.isCorporate) { %>
      <div id="links-top" class="row">
        <div id="main-left" class="small-12 medium-4 large-4 columns">
          <h3>Corporate Service Manager</h3>
          <p>Maintain resumes and job posts</p>
          <a href="/corporate/manage"><button class="button">Manage</button></a>
        </div>
        <div id="main-center" class="small-12 medium-4 large-4 columns">
          <h3>Account Manager</h3>
          <p>Maintain all recruiter accounts</p>
          <a href="corporate/accounts"><button class="button">Manage</button></a>
        </div>
        <div id="main-right" class="small-12 medium-4 large-4 columns">
          <h3>Resume Database</h3>
          <p>View and filter student resumes</p>
          <a href="corporate/resumes"><button class="button">View Resumes</button></a>
        </div>
      </div>
    <% } %>    
    <% if (session.roles.isRecruiter) { %>
      <div id="links-top" class="row">
        <div id="main-left" class="small-12 medium-4 large-4 columns">
          <h3>Resume Database</h3>
          <p>View and filter student resumes</p><a href="corporate/resumes">
          <button class="button">View Resumes</button></a>
        </div>

        <div id="main-center" class="small-12 medium-4 large-4 columns">
          <h3>Create Job Listing</h3>
          <p>Post a job listing for students</p><a href="sponsors/jobs">
          <button class="button">Post Job Listing</button></a>
        </div>

        <div id="main-right" class="small-12 medium-4 large-4 columns">
          <h3>Beats by ACM</h3>
          <p>Control the Beats music system.</p><a href="https://www-s.acm.illinois.edu/beats/1104/">
          <button class="button">Go</button></a>
        </div>
      </div>
    <% } %>


    <% if (session.roles.isStudent) { %>
      <div id="links-top" class="row">
        <div id="main-left" class="small-12 medium-4 large-4 columns">
          <h3>Quote Database</h3>
          <p>Quote database placeholder text</p><a href="/quotes">
        <button class="button">View Quotes</button></a>
        </div>
        <div id="main-center" class="small-12 medium-4 large-4 columns">
          <h3>Meme Service</h3>
          <p>Placeholder text about meme service</p><a href="/memes">
          <button class="button">Me 2 thanks</button></a>
        </div>
        <div id="main-right" class="small-12 medium-4 large-4 columns">
          <h3>Beats by ACM</h3>
          <p>Control the Beats music system.</p><a href="https://www-s.acm.illinois.edu/beats/1104/">
          <button class="button">Go</button></a>
        </div>
      </div>

      <div id="links-top" class="row">
        <div id="main-left" class="small-12 medium-4 large-4 columns">
          <h3>Job Database</h3>
          <p>View and filter jobs on campus</p>
          <a href="/jobs">
            <button class="button">View jobs</button>
          </a>
        </div>
      </div>
    <% } %>
  </div>

  <div id="events-container" class="small-12 medium-3 large-3 columns">
    <div id="events-title" class="row">
      <h2>Important Links</h2>
    </div>
    <div id="events" class="row">
      <div class="event">
      </div>
    </div>

    <div id="events-title" class="row">
      <h2>Upcoming Events</h2>
    </div>
    <div id="events" class="row fb_events"></div>
    
    <% if (session.roles.isStudent) { %>
      <div id="events-title" class="row">
        <h2>Service Manager</h2>
      </div>
      <div id="events" class="row">
        <div class="event">
        </div>
      </div>
    <% } %>
  </div>
</div>

<%- include('_partials/footer') -%>

<script>
  $.ajax({
      url: "/intranet/events/upcoming",
      method: "GET",
      success: function(events) {
        $('.fb_events').empty();
        for (var event of events) {
          var sameDate = (
            new Date(event.start_time).toISOString().split("T")[0] == 
            new Date(event.end_time).toISOString().split("T")[0]
          );

          var dateString = sameDate
            ? event.start_time + " - " + event.end_time.split(", ")[1]
            : event.start_time + " - " + event.end_time;

          $('.fb_events').append(
            "<div class='event'> \
              <h5><a href='" + event.url + "'>" + event.name + "</a></h5> \
              <ul class='dashed'> \
                <li>" + dateString + "</li> \
              </ul> \
            </div>"
          );
        }
      }
  });
</script>
