<%- include('_partials/header') -%>

<div class="container main row">
  <header>
    <h1>Join Us...</h1>
  </header>
  <h4>We see you have gotten this far...</h4>
  <p>
    This is comendable. Go ahead and type in
    your name, NetID and UIN to officially
    become one of us at ACM@UIUC. This opens doors
    to events and the Special Interest Groups - where
    you can learn more about topics in Computing. Why don't join a few of
    those as well. Just select the SIGs your interested and
    you will get added to their mailing lists. Find your
    niche in ACM and start having fun.
  </p>
  <p>Other great perks of ACM - really cheap soda from Caffine (our soda machine), and account on the ACM Cluster <!--(ahem... we should get on this)--> and the ablitiy to be an ACM Officer.</p><i>The cost is $40 for a lifetime membership</i>
  <p>Sign up below, then drop by the ACM office any time between 9:00 AM and 5:00 PM with your $40 in cash or check</p>
  <h2>Tell us about yourself</h2>
  <form>
    <div class="field-group required">
      <label for="id_first_name" class="field-label">First Name
        <div class="field">
          <input id="first_name" type="text" name="first_name" maxlength="32" ng-model="newMember.firstName"/>
        </div>
      </label>
    </div>
    <div class="field-group required">
      <label for="last_name" class="field-label">Last Name
        <div class="field">
          <input id="last_name" type="text" name="last_name" maxlength="32" ng-model="newMember.lastName"/>
        </div>
      </label>
    </div>
    <div class="field-group required">
      <label for="netid" class="field-label">NetID
        <div class="field">
          <input id="netid" type="text" name="netid" maxlength="15" ng-model="newMember.netid"/>
        </div>
      </label>
    </div>
    <div class="field-group required">
      <label for="uin" class="field-label">UIN
        <div class="field">
          <input id="uin" type="text" name="uin" maxlength="9" ng-model="newMember.uin"/>
        </div>
      </label>
    </div>
    <p>Lifetime Membership $40</p>
    <div class="field-group">
      <p>What Special Interest Groups (SIGs) are you interested in? (This will add you to the selected SIGs' mailing lists)
        <div ng-controller="SIGController" class="sig-container">
          <ul class="sigs">
            <% for (var sig of sigs) { %>
              <li>
                <label class="checkbox">
                  <input type="checkbox" name= <%= sig.name %> />
                  <%= sig.name %>
                </label>
              </li>
            <% } %>
          </ul>
        </div>
      </p>
    </div>
    <div class="control-group row">
      <div class="controls">
        <button type="submit" ng-click="addMember()" class="button">Join</button>
      </div>
    </div>
  </form>
</div>


<%- include('_partials/footer') -%>
