extends index.pug

block app
  .container.main.row
    header
      h1 Join Us...

    h4 We see you have gotten this far...
    p.
      This is comendable. Go ahead and type in
      your name, NetID and UIN to officially
      become one of us at ACM@UIUC. This opens doors
      to events and the Special Interest Groups - where
      you can learn more about topics in Computing. Why don't join a few of
      those as well. Just select the SIGs your interested and
      you will get added to their mailing lists. Find your
      niche in ACM and start having fun.

    p Other great perks of ACM - really cheap soda from Caffine (our soda machine), and account on the ACM Cluster <!--(ahem... we should get on this)--> and the ablitiy to be an ACM Officer.

    i The cost is $40 for a lifetime membership

    p Sign up below, then drop by the ACM office any time between 9:00 AM and 5:00 PM with your $40 in cash or check

    h2 Tell us about yourself

    form
      .field-group.required
        label.field-label(for="id_first_name") First Name
          .field
            input#first_name(type="text" name="first_name" maxlength="32" ng-model="newMember.firstName")
      .field-group.required
        label.field-label(for="last_name") Last Name
          .field
            input#last_name(type="text" name="last_name" maxlength="32" ng-model="newMember.lastName")
      .field-group.required
        label.field-label(for="netid") NetID
          .field
            input#netid(type="text" name="netid" maxlength="15" ng-model="newMember.netid")
      .field-group.required
        label.field-label(for="uin") UIN
          .field
            input#uin(type="text" name="uin" maxlength="9" ng-model="newMember.uin")

      p Lifetime Membership $40

      .field-group
        p What Special Interest Groups (SIGs) are you interested in? (This will add you to the selected SIGs' mailing lists)
          .sig-container(ng-controller="SIGController")
            ul.sigs
              each sig in sigs
                li
                  label.checkbox
                    input(type="checkbox" name=sig.name)
                    = sig.name

      .control-group.row
        .controls
          button.button(type="submit" ng-click="addMember()") Join
