<%- include('_partials/header') -%>

<div id="login-container">
  <div class="row col-centered small-12 medium-4 large-4 login-form">
    <h3>Login</h3>
    <p>Your username is your NetID. Your password is your Campus Active Directory password.<br/>You must be an ACM Member to log into the ACM Intranet. If you are not currently a member, please consider joining ACM@UIUC!</p>
    <form method="post" action="/login">
      <div class="field-group required">
        <label for="netid" class="field-label">Netid
          <div class="field">
            <input id="netid-login" type="text" name="netid" maxlength="8"/>
          </div>
        </label>
      </div>
      <div class="field-group required">
        <label for="password" class="field-label">Password
          <div class="field">
            <input id="password-login" type="password" name="password"/>
          </div>
        </label>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="button">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>

<%- include('_partials/footer') -%>
