extends index.pug

block app
  #resume-container
    .row
      h2 Job Posting
      p.
        Looking to hire? Use this simple form to submit your job posting and it will be included in a weekly mailing to ACM members looking for employment. All fields are required. If you have any questions <a href="mailto:corporate@acm.illinois.edu">email us</a>.
      form
        .field-group.required
          label.field-label(for="job_title") Job Title
          .field
            input#job_title(type='text', name='job_title', ng-model='job.title')
        .field-group.required
          label.field-label(for='org') Orginization
          .field
            input#org(type='text', name='org', ng-model='job.org')
        .field-group.required
          label.field-label(for='contact-name') Contact Name
          .field
            input#contact-name(type='text', name='contact-name', ng-model='job.contact.name')
        .field-group.required
          label.field-label(for='contact-email') Contact Email
          .field
            input#contact-email(type='text', name='contact-email', ng-model='job.contact.email')
        .field-group.required
          label.field-label(for='contact-phone') Contact Phone
          .field
            input#contact-phone(type='text', name='contact-phone', ng-model='job.contact.phone')
        .field-group.required
          label.field-label(for='type') Job Type:
          label
            | Full-Time
            input(type='checkbox', ng-model='job.type.fulltime')
          label
            | Part-Time
            input(type='checkbox', ng-model='job.type.parttime')
          label
            | Intern/Co-op
            input(type='checkbox', ng-model='job.type.intern')
        .field-group.required
          label.field-label(for='type') Desciption
          textarea#text(rows='15')
        br
        .control-group
          .controls
            button.button(type='submit', ng-click='uploadResume()') Submit
