<!--
Copyright © 2016, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>

<div id="login-container">
  <div class="row col-centered small-12 medium-4 large-4 login-form">
    <h3>Recruiter Login</h3>
    <p>If you would like access to the ACM@UIUC Resume Book please email <a href="corporate@acm.illinois.edu">corporate@acm.illinois.edu</a>.</p>
    <form>
      <div class="field-group required">
        <label for="username" class="field-label">Username</label>
        <div class="field">
          <input id="username" type="text" name="username" maxlength="8" ng-model="user.username"/>
        </div>
      </div>
      <div class="field-group required">
        <label for="password" class="field-label">Password</label>
        <div class="field">
          <input id="password_login" type="password" name="password" ng-model="user.password"/>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" ng-click="login()" class="button">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>

<%- include('_partials/footer') -%>
