extends index.pug

block app
  #resume-container
    .row
      h2 Students
      p
        | The ACM resume book is a packet of resumes provided to interested companies who contact ACM. To be included please fill in the information below.
        | If you have any questions
        a(href='mailto:corporate@acm.illinois.edu') email us
        | .
      form
        .field-group.required
          label.field-label(for='first_name') First Name
          .field
            input#first_name(type='text', name='first_name', maxlength='32', ng-model='student.firstName')
        .field-group.required
          label.field-label(for='last_name') Last Name
          .field
            input#last_name(type='text', name='last_name', maxlength='32', ng-model='student.lastName')
        .field-group.required
          label.field-label(for='netid') NetID
          .field
            input#netid(type='text', name='netid', maxlength='15', ng-model='student.netid')
        .field-group.required
          label.field-label(for='netid') Prefered Email
          .field
            input#email(type='text', name='email', ng-model='student.email')
        .field-group.required
          label.field-label(for='year') Graduation
          select#grad_year(name='gradYear', ng-model='student.gradYear')
            each option in grad.years
              option(value=option.date)= option.date
        .field-group.required
          label.field-label(for='degreeType') Degree
          select#degree_type(name='degreeType', ng-model='student.degreeType')
            each option in degree.types
              option(value=option.name)= option.name
        .field-group.required
          label.field-label(for='jobType') Seeking
          select#job_type(name='jobType', ng-model='student.jobType')
            each option in job.types
              option(value=option.name)= option.name
        .field-group.required
          label.field-label(for='jobType') Resume
          input.upload(type='file', onchange='angular.element(this).scope().pdfUpload(this)', file-model='resume', name='resume')
        br
        .control-group
          p
            | By submitting this form you verify that all the information above is correct and give ACM@UIUC permission to distribute your resume to all interested parties.
          .controls
            button.button(type='submit', ng-click='uploadResume()') Submit
