extends index.pug

block app
  #sponsor-container
    .row
      h1 Sponsor Us
      p
        | ACM members at the University of Illinois are some of the most skillful, dedicated Computer Science and Engineering students in the world. The corporate relations committee and jobs mailing list make it easy for employers and sponsors to interact with
        | ACM members.
      p
        | ACM@UIUC would not be able to fund projects and events without the support of the CS department and generous sponsors. Funding from sponsorships goes into creating better technical projects, building the infrastructure to support our members and holding
        | events. Sponsorship opportunities are available in tiers that contain some, or all, of the following benefits:
    .row
      h3 Get involved
      p
        | The best way for companies to get involved with ACM@UIUC is to become a part of our corporate sponsorship program. If you have any questions please e-mail
        a(href='mailto:corporate@acm.illinois.edu') corporate@acm.illinois.edu
        | . The Corporate
        |             Committee is ACM's central point of contact for all corporate relations activities.
      h4 Sponsorship Tiers
      h5 Gold Sponsor - $2500
      ul.dashed
        li
          | Invitation to attend ACM@UIUC Spring Showcase
        li
          | Logo on ACM@UIUC Sponsorship page as gold sponsor
        li
          | Logo added to the ACM@UIUC Electronic Display Board as a sponsor
        li
          | 1 year subscription to the ACM@UIUC resume book
      br
      h5 Silver Sponsor - $1000
      ul.dashed
        li
          | Logo on ACM Sponsorship page as silver sponsor
        li
          | Logo added to the ACM@UIUC Electronic Display Board as a sponsor
        li
          | 1 year subscription to the ACM@UIUC resume book
      br
      h5 Bronze Sponsor - $500
      ul.dashed
        li
          | Logo on ACM Sponsorship page as silver sponsor
        li
          | Logo added to the ACM@UIUC Electronic Display Board as a sponsor
        li
          | 1 year subscription to the ACM@UIUC resume book
    br
    .row
      h3 Post a job ad
      p
        | Your advertisement will automatically be included in the next issue of ACM's weekly jobs e-mail newsletter. This newsletter reaches over 600 undergraduate and graduate students in Computer Science, Electrical and Computer Engineering, and related fields.
    .row
      a(href='/sponsors/new_job_post')
        button.button(type='button') Create new job ad
      a
        button.button(type='button') Jobs mailing list archive
    br
    .row
      h3 Resume Book
      h4 Students
      p
        | Want to have your resume seen by recruiters from some of the biggest companies in the tech industry? Just upload your resume and it will immediately be available to recruiters.
      a(href='/sponsors/resume_book')
        button.button(type='button') Upload Your Resume
    br
    .row
      h4 Recruiters
      p
        | Want access to hundreds of resumes from some of the top students in the country? If you would like access to the ACM@UIUC Resume Book please email
        a(href='mailto:corporate@acm.illinois.edu')
          b corporate@acm.illinois.edu
        | .
      a(href='/sponsors/recruiter_login')
        button.button(type='button') Login to the Resume Book
