<%- include('_partials/header') -%>
  <div id="sponsor-container">
    <div class="row">
      <h3> Acknowledgement </h3>
      <p> We would like to thank the following corporate sponsors for enabling us to achieve great things.</h3>
      </div>

      <div class="row">
      <h4> Diamond Sponsor </h4>
        <a href="https://www.palantir.com/"> <img src="/sponsors/images/sponsors/palantir.png" class="sponsor"> </a>
      </div>

      <div class="row">
      <h4> Gold Sponsors <h4>
        <a href="https://www.amazon.com/"><img src="/sponsors/images/sponsors/amazon.png" class="sponsor"> </a>
        <a href="http://www.fitbit.com/"><img src="/sponsors/images/sponsors/fitbit.png" class="sponsor"> </a>
        <a href="http://www.capitalone.com/"><img src="/sponsors/images/sponsors/capital-one.png" class="sponsor"> </a>
        <a href="http://sunrisefutures.com/"><img src="/sponsors/images/sponsors/sunrise-futures.jpg" class="sponsor"></a>
        <a href="http://www.akunacapital.com/"><img src="/sponsors/images/sponsors/akuna-capital.png" class="sponsor"> </a>

      <div class="row">
      <h4> Silver Sponsors </h4>
        <a href="http://google.com"><img src="/sponsors/images/sponsors/google.png" class="sponsor"> </a>
        <a href="https://www.qualtrics.com/"><img src="/sponsors/images/sponsors/qualtrics.png" class="sponsor"> </a>
        <a href="http://wish.com/"><img src="/sponsors/images/sponsors/wish.png" class="sponsor"></a>
        <a href="http://www.allstontrading.com/"><img src="/sponsors/images/sponsors/allston-trading.png" class="sponsor"> </a>

      <!-- Missing 3Red -->
      </div>


  </div>

<%- include('_partials/footer') -%>
