body {
    background-color: lightblue;
}

.main-view {
    background-color: white;
    border-color: black;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.row-centered {
    text-align:center;
}
