<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div id="meme-upload-container">
  <div class="row col-centered small-12 medium-4 large-4 login-form">
    <h3>Meme Upload</h3>
    <form data-abide method="post" action="/memes/upload">
      <div class="field-group">
        <label for="url" class="field-label">Image URL
          <div class="field">
            <input type="text" name="url" required pattern="(https?://)?(\w+\.)?imgur.com/((\w*\d*)+)(\.[a-zA-Z]{3})?$"/>
          </div>
          <p class="help-text" id="urlHelpText">Your image URL must point to a valid <a href="https://imgur.com">imgur</a> image (not an album or gallery).</p>
        </label>
      </div>
      <div class="field-group required">
        <label for="password" class="field-label">Title
          <div class="field">
            <input type="text" name="title"/>
          </div>
        </label>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="button">Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css" />
<%- include('../_partials/footer') -%>
