<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div id="home-container" class="row">
  <div id="main-container" class="small-12 medium-9 large-9 columns">
    <%- include('../_partials/flash') -%>
    <h2>Unpaid Member</h2>
    <p>The ACM intranet is currently only available to members who have paid the membership fee. For more information about ACM, check out our <a href="/about">About</a> page.</p>
    <a class="button" href='/credits/purchaseMembership'>Purchase ACM Membership</a>
  </div>
</div>
<div class="footer_padding">
</div>
<%- include('../_partials/footer') -%>


