<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div id="home-container" class="row">
	<div id="main-container" class="small-12 medium-12 large-12 columns">
		<div id="links-top" class="row">
			<div id="unapproved-users-partial">
			 	<%- include('./_partials/users', { users: premembers }) %>
			 </div>
		</div>
	</div>
</div>

<%- include('../_partials/footer') -%>

<script>
  $("#user-approval-table").dynatable({
    dataset: {
        perPageDefault: 20
    }
  });

	function makeACMMember(netid) {
		$.ajax({
			url: "/intranet/users/" + netid + "/paid",
			method: "PUT",
			success: function(response) {
				$('#unapproved-users-partial').html(response);
				$("#user-approval-table").dynatable({
					dataset: {
						perPageDefault: 20
					}
				});
			}
		});
	}

	function deleteACMMember(netid) {
		$.ajax({
			url: "/intranet/users/" + netid,
			method: "DELETE",
			success: function(response) {
				$('#unapproved-users-partial').html(response);
				$("#user-approval-table").dynatable({
					dataset: {
						perPageDefault: 20
					}
				});
			}
    });
	}
</script>