<html>

<head>
    <meta charset="utf-8" />
    <title>Association for Computing Machinery - University of Illinois Urbana-Champaign</title>
    <meta name="author" content="" />
    <meta name="description" content="The Official Website of ACM@UIUC" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Association for Computing Machinery - University of Illinois Urbana-Champaign" />
    <meta property="og:image" content="http://acm.illinois.edu/images/acm-logo-flat-50years.png" />
    <meta property="og:description" content="The Official Website of ACM@UIUC" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92211149-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>

<body>
    <canvas id="confetti" width="1" height="1"></canvas>
    <div class="viewbox">
        <div class="top-bar nav">
            <div class="desktop">
                <div class="top-bar-left">
                    <ul data-dropdown-menu="data-dropdown-menu" class="dropdown menu">
                        <li class="menu-text">
                            <span id="title">
                                <a id="nav-home" href="/">
                                    <img src="/images/acm-logo-flat.svg" class="logo" id="header-logo"/>
                                    <h3 id="title-text">ACM@UIUC</h3></br>
                                    <!--<h5 id="subtitle">SUBTITLE HERE</h5>-->
                                </a>
                            </span>
                        </li>
                        <li class="nav-loc">
                            <a href="/about"> About </a>
                        </li>
                        <!--
                        <li class="nav-loc">
                            <a href="/about/history">History</a> After anniversery move this from nav bar 
                        </li>
                        -->
                        <li class="nav-loc">
                            <a href="/sigs">SIGs</a>
                        </li>
						<li class="nav-loc">
                            <a href="/projects">Projects</a>
                        </li>
                        <li class="nav-loc">
                            <a href="/conference">Reflections|Projections</a>
                        </li>
                        <li class="nav-loc">
                            <a href="/hackillinois">HackIllinois</a>
                        </li>
                        <li class="nav-loc">
                            <a href="/sponsors">Sponsors</a>
                        </li>
                        <% if (!authenticated) { %>
                        <li class="nav-loc">
                            <a href="/join">Join</a>
                        </li>
                        <% } else { %>
                        <li class="nav-loc">
                            <a href="/intranet">Intranet</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <div class="top-bar-right">
                        <ul class="dropdown menu">
                            <% if (!authenticated) { %>
                            <li>
                                <a id="nav-login" href="/login">
                                    <button id="login" class="button">Login</button>
                                </a>
                            </li>
                            <% } else { %>
                            <li>
                                <a id="nav-login" href="/logout">
                                    <button id="logout" class="button">Logout</button>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mobile">
                <div class="top-bar-left mobile-left">
                    <ul data-dropdown-menu="data-dropdown-menu" class="dropdown menu">
                        <li class="menu-text"><span id="title"><a id="nav-home" href="/"><img src="/images/acm-logo-flat-50years.svg" class="logo"/>
                            <h3 id="title-text">ACM@UIUC</h3></a></span>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right mobile-right">
                        <ul class="dropdown menu" id="menu-container">
                            <li>
                                <button id="menu" class="button">
                                    <img src="/images/menu.png" />
                                </button>
                            </li>
                        </ul>
                </div>
            </div>
            <nav id="mobile-nav">
                <ul class="side-nav">
                    <li class="nav-loc-side">
                            <button id="menu-close" class="button">
                                <img src="/images/menu.png" />
                            </button>
                    </li>
                    <li class="nav-loc-side">
                        <a href="/about"> About </a>
                    </li>
                    <li class="nav-loc-side">
                        <a href="/about/history"> History </a> <!-- After anniversery move this from nav bar -->
                    </li>
                    <li class="nav-loc-side">
                        <a href="/sigs">SIGs</a>
                    </li>
                    <li class="nav-loc-side">
                        <a href="/conference">Reflections|Projections</a>
                    </li>
                    <li class="nav-loc-side">
                        <a href="/hackillinois">HackIllinois</a>
                    </li>
                    <li class="nav-loc-side">
                        <a href="/sponsors">Sponsors</a>
                    </li>
                    <% if (!authenticated) { %>
                    <li class="nav-loc-side">
                        <a href="/join">Join</a>
                    </li>
                    <% } else { %>
                    <li class="nav-loc-side">
                        <a href="/intranet">Intranet</a>
                    </li>
                    <% } %>
                    <% if (!authenticated) { %>
                    <li class="nav-loc-side">
                        <a id="nav-login" href="/login">Login</a>
                    </li>
                    <% } else { %>
                    <li class="nav-loc-side">
                        <a id="nav-login" href="/logout">Logout</a>
                    </li>
                    <% } %>
                </ul>
            </nav>
        </div>
