<% if ( messages.length > 0 ) { %>
  <div class="callout secondary">
    <p><%= messages %></p>
  </div>
<% } %>
<% if ( errors.length > 0 ) { %>
  <div class="callout alert">
    <p><%= errors %></p>
  </div>
<% } %>