</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/serialize_resume.js"></script>
<script src="/js/jquery.dynatable.js"></script>
</body>
    <footer class="footer">
        <div class="small-4 medium-4 large-4 columns">
            <a id="illinois" href="https://illinois.edu">
                <img class="logo" id="illinois" src="/images/illinois_black.svg"></img>
            </a>
        </div>
        <div class="small-4 medium-4 large-4 columns">
            <p>&copy; 2017 ACM@UIUC</p>
        </div>
        <div class="small-4 medium-4 large-4 columns">
            <a  href="https://github.com/acm-uiuc">
                <img class="logo" id="github" src="/images/github_black.svg"></img>
            </a>
            <a  href="https://twitter.com/acmuiuc">
                <img class="logo" id="twitter" src="/images/twitter_black.svg"></img>
            </a>
            <a  href="https://www.facebook.com/acmuiuc">
                <img class="logo" id="fb" src="/images/fb_black.svg"></img>
            </a>        
        </div>
    </footer>
</html>
<!-- Part of the Groot Project -->
