</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/resume_form.js"></script>
<script>
  (function(){
    var message_str = "echo Hello, World!"
    var showText = function(target, message, index, interval) {
        if (index < message.length) {
            $(target).append(message[index++]);
            setTimeout(function() {
                showText(target, message, index, interval);
            }, interval);
        }
    }
    console.log($)
    $(function() {
        showText("#qualities", message_str, -1, 150);
    });
  })()
</script>
</body>
</html>
