<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div id="meme-upload-container">
  <div class="row col-centered small-12 medium-4 large-4 login-form">
    <h3>Refill Credits Balance</h3>
    <form data-abide id='credits_form' novalidate method="post" action="/credits/addFunds">
      <div class="amount-field">
        <label>Balance Refill Amount <small>required</small>
          <input id="refill_amount_input" type="number" required data-validator="credits_balance" placeholder="500">
        </label>
        <small class="error">Balance refill amount is required and must be a number between 500 and 5000 (corresponding to $5 and $50).</small>
      </div>
      <input name="token" id="stripeToken" type="hidden">
      <input name="amount" id="stripeAmount" type="hidden">
      <button type="submit" class="button">Make Payment</button>
    </form>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
    window.addEventListener('load', function() {
      $(document).foundation();
      Foundation.Abide.defaults.validators['credits_balance'] =
      function($el,required,parent) {
        var val = parseInt($el.val());
        return val >= 500 && val <= 5000
      };
      $(document).on("submit", function(ev) {
        if($('input#stripeToken').val()) {
          return;
        }
        ev.preventDefault();
        var balance = Number($('#refill_amount_input').val()).toFixed(2);
        var balanceInCents = parseInt(balance);
        $('input#stripeAmount').val(balanceInCents);
        handler.open({
          name: 'ACM @ Illinois',
          description: 'Balance Refill',
          amount: balanceInCents
        });
      });
    });
    var handler = StripeCheckout.configure({
      key: '<%= stripePublishableKey %>',
      image: 'https://acm.illinois.edu/images/acm-logo-flat-og.png',
      locale: 'auto',
      token: function(token) {
        // You can access the token ID with `token.id`.
        // Get the token ID to your server-side code for use.
        $('input#stripeToken').val(token.id);
        $('form').submit();
      }
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      handler.close();
    });
    </script>
  </div>
</div>

<%- include('../_partials/footer') -%>
