.meme-title {
    font-weight: bold;
    margin: 0px;
}

.meme-header h2 {
    display: inline;
}

.meme-uploader {
    padding-right: 10px;
}

.meme-card {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: auto;
    width: 24%;
    max-height: 500px;
}

.meme-card-container {
    padding-top: 20px;
    padding-bottom: 50px;
    display:flex;
    flex-wrap:wrap;
}

.meme-image {
    max-height:300px;
    margin: 0 auto;
    display: block;
}

.meme-button {
    display: inline;
    margin-left: 20px;
}

.meme-order-link {
    display: inline-block;
    margin-top: 10px;
    padding-right: 10px;
}
