<script>

    function formatDate(date) {
      var d = new Date(date);
      return d.toLocaleString("en", { month: "short" }) + ' ' +
             d.toLocaleString("en", { day: "numeric" });
    }

    $.ajax({
        url: "/events/upcoming",
        method: "GET",
        success: function(events) {
            $('.fb_events').empty();
            for (var event of events) {
                var sameDate = (
                    event.start_time.split(",")[0] ==
                    event.end_time.split(",")[0]
                );
                var location = (event.place) ? "<li>" + event.place.name + "</li>": "";
                var shortStartDate = formatDate(event.start_time);
                var shortEndDate = formatDate(event.end_time);

                if (sameDate) {
                    var startTime = event.start_time.split(", ")[1] + " - " + event.end_time.split(", ")[1]
                    $('.fb_events').append(
                        "<div class='event'> \
                            <h5><a href='" + event.url + "'>" + event.name + "</a></h5> \
                            <ul class='dashed'> \
                                <li>" + shortStartDate + ": " + startTime + "</li> \
                                " + location + "\
                            </ul> \
                        </div>"
                    );
                } else {
                    var eventTime = shortStartDate + " - " + shortEndDate;
                    $('.fb_events').append(
                        "<div class='event'> \
                            <h5><a href='" + event.url + "'>" + event.name + "</a></h5> \
                            <ul class='dashed'> \
                                <li>" + eventTime + "</li> \
                                " + location + "\
                            </ul> \
                        </div>"
                    );
                }
            }
        }
    });
</script>
