<div id="resume-container">
    <div class="row">
        <h2>Job Posting</h2>
        <p>
            Looking to hire? Use this simple form to submit your job posting and it will be included in a weekly mailing to ACM members looking for employment. All fields are required. If you have any questions <a href="mailto:corporate@acm.illinois.edu">email us</a>.
        </p>
        <form>
            <div class="field-group required">
                <label class="field-label" for="job_title">Job Title</label>
                <div class="field">
                    <input id="job_title" type="text" name="job_title" ng-model="job.title" />
                </div>
            </div>
            <div class="field-group required">
                <label class="field-label" for="org">Orginization</label>
                <div class="field">
                    <input id="org" type="text" name="org" ng-model="job.org" />
                </div>
            </div>
            <div class="field-group required">
                <label class="field-label" for="contact-name">Contact Name</label>
                <div class="field">
                    <input id="contact-name" type="text" name="contact-name" ng-model="job.contact.name" />
                </div>
            </div>
            <div class="field-group required">
                <label class="field-label" for="contact-email">Contact Email</label>
                <div class="field">
                    <input id="contact-email" type="text" name="contact-email" ng-model="job.contact.email" />
                </div>
            </div>
            <div class="field-group required">
                <label class="field-label" for="contact-phone">Contact Phone</label>
                <div class="field">
                    <input id="contact-phone" type="text" name="contact-phone" ng-model="job.contact.phone" />
                </div>
            </div>
            <div class="field-group required">
                <label class="field-label" for="type">Job Type:</label>
                <label>Full-Time
                    <input type="checkbox" ng-model="job.type.fulltime">
                </label>
                <label>Part-Time
                    <input type="checkbox" ng-model="job.type.parttime">
                </label>
                <label>Intern/Co-op
                    <input type="checkbox" ng-model="job.type.intern">
                </label>
            </div>
            <div class="field-group required">
                <label class="field-label" for="type">Desciption</label>
                <textarea rows="15" id="text"></textarea>
            </div>
            <br/>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="button" ng-click="uploadResume()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
