<div id="resume-container">
    <div class="row">
        <h2>Students</h2>
        <p>
            The ACM resume book is a packet of resumes provided to interested companies who contact ACM. To be included please fill in the information below.

            If you have any questions <a href="mailto:corporate@acm.illinois.edu">email us</a>.
        </p>
        <form>
            <div class="field-group required">
                <label class="field-label" for="first_name">First Name</label>
                <div class="field">
                    <input id="first_name" type="text" name="first_name" maxlength="32" ng-model="student.firstName"/>
                </div>
            </div>
            <div class="field-group required">
                <label class="field-label" for="last_name">Last Name</label>
                <div class="field">
                    <input id="last_name" type="text" name="last_name" maxlength="32" ng-model="student.lastName" />
                </div>
            </div>
            <div class="field-group required">
                <label class="field-label" for="netid">NetID</label>
                <div class="field">
                    <input id="netid" type="text" name="netid" maxlength="15" ng-model="student.netid"/>
                </div>
            </div>
            <div class="field-group required">
                <label class="field-label" for="year">Graduation</label>
                <select name="gradYear" id="grad_year" ng-model="student.gradYear">
                    <option ng-repeat="option in grad.years" value="{{option.date}}">{{option.date}}</option>
                </select>
            </div>
            <div class="field-group required">
                <label class="field-label" for="degreeType">Degree</label>
                <select name="degreeType" id="degree_type" ng-model="student.degreeType">
                    <option ng-repeat="option in degree.types" value="{{option.name}}">{{option.name}}</option>
                </select>
            </div>
            <div class="field-group required">
                <label class="field-label" for="jobType">Seeking</label>
                <select name="jobType" id="job_type" ng-model="student.jobType">
                    <option ng-repeat="option in job.types" value="{{option.name}}">{{option.name}}</option>
                </select>
            </div>
            <div class="field-group required">
                <label class="field-label" for="jobType">Resume</label>
                <input type="file" class="upload" file-model="resume" name="resume"/>
            </div>
            <br/>
            <div class="control-group">
                <p>
                    By submitting this form you verify that all the information above is correct and give ACM@UIUC permission to distribute your resume to all interested parties.
                </p>
              <div class="controls">
                <button type="submit" class="button" ng-click="uploadResume()">Submit</button>
              </div>
            </div>
         </form>
    </div>
</div>
