<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div class="conference-container">
<div class="row">
  <div class="img-container small-12 medium-12 large-12 column col-centered" id="rp-header"><img class="center_img" src="../images/rp-2017-logo-min.png"/></div>
</div>
<div class="row">
  <p>
    Reflections | Projections, founded in 1995, is a technology conference operated by students in ACM@UIUC. Striving to cater to our community of students, alumni, and professionals, we provide a forum to share and learn about current advancements in computer science and its applications. We have tech talks from across the industry and academia, workshops and puzzle-solving events for attendees, and Mechmania, our annual artificial intelligence programming competition. The entire conference is completely free for anyone to attend, regardless of age, major, or affiliation with UIUC.
    This year, Reflections | Projections will occur September 29th - October 1st, immediately following ACM Career Week, which features a job fair, a startup fair and company visits. For more information, please vist the website: <a href = "http://reflectionsprojections.com/">http://reflectionsprojections.com/</a>
  </p>
</div>
<div class="row title"><span>Past Editions:</span></div>
<div>
  <div class="top-bar nav">
    <ul class="h-list">
      <% for (var n of editions) { %>
        <li class="nav-loc">
           <a href="<%=n.path %>"> | <%= n.year %> |
        </li>
      <% } %>
    </ul>
  </div>
</div>
</div>

<%- include('../_partials/footer') -%>
