<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div class="conference-container">
<div class="row">
  <div class="img-container small-12 medium-12 large-12 column col-centered"><img class="center_img" width="200px" src="../images/hackillinois-2020-logo.png"/></div>
</div>
<div class="row">
  <p>
    Established in 2014, HackIllinois is the premier collegiate open source hackathon. 
    With over 1000 attendees and 50 open source mentors in 2019, the hackathon has grown to become one of the largest and most well-regarded in the nation.
    This year, we're proud to welcome you to the 7th annual HackIllinois from February 28 - March 1, 2020, on the Urbana-Champaign campus.
    For more information, please visit the website: <a href="https://hackillinois.org">https://hackillinois.org</a>.
  </p>
</div>
<div class="row title"><span>Past Editions:</span></div>
<div>
  <div class="top-bar nav">
    <ul class="h-list">
      <% for (var n of editions) { %>
        <li class="nav-loc">
           <a href= <%= n.path %> > | <%= n.year %> |
        </li>
      <% } %>
    </ul>
  </div>
</div>
</div>

<%- include('../_partials/footer') -%>
