<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div id="head-img"></div>
<div id="home-container" class="row">
<div id="welcome" class="row">
  <div id="we-are">
    acm@uiuc$
    &nbsp;<span id="qualities"></span>
  </div>
</div>
  <div id="main-container" class="small-12 medium-12 large-9 columns">
    <%- include('../_partials/flash') -%>
    <div id="main-feed" class="row">
      <h4>Nov 1, 1967: ACM@UIUC gets its charter</h4>
      <p>The Association for Computing Machinery (ACM) is a student group consisting of a variety of people with diverse backgrounds who share a common interest in computers.</p>
      <h4>More Significant Events</h4>
      <p>.</p>
      <h4>More Significant Events</h4>
      <p>.</p>
      <h4>More Significant Events</h4>
      <p>.</p>
      <h4>More Significant Events</h4>
      <p>.</p>
      <h4>1995</h4>
      <p>The first Midwestern ACM Chapter Conference, later named Reflections|Projections was held, starting a 23 year tradition of ACM@UIUC hosting students, academics and members of industry for a Confernce about the past and the future </p>
      <h4>More Significant Events</h4>
      <p>.</p>
      <h4>2014</h4>
      <p>The first ever HackIllinois was put on, providing the students at Illinois a home hackathon</p>
      <h4>2015</h4>
      <p>Reflections | Projections turns 20 years old</p>
      <h4>2017</h4>
      <p>ACM@UIUC turns 50 years old, with {} members and ...</p>
      <p></p>
    </div>
    <div id="involvement" class="row">
      <div id="main-left" class="small-12 medium-12 large-4 columns">
        <h3>Join ACM</h3>
        <p>As an ACM member you get access to our compute cluster, free black and white printing, Beats by ACM, Merch, and many other member perks.</p><a href="/join">
          <button class="button">Join Us</button></a>
      </div>
      <div id="main-center" class="small-12 medium-12 large-4 columns">
        <h3>Special Interest Groups</h3>
        <p>ACM has many Special Interest Groups (SIGs) that work on projects in a wide variety of areas. All SIGs are open to all students, no previous knowledge required!</p><a href="/sigs">
          <button class="button">Learn More</button></a>
      </div>
      <div id="main-right" class="small-12 medium-12 large-4 columns">
        <h3>Sponsors</h3>
        <p>The best way to get involved with ACM@UIUC is to become a part of our corporate sponsorship program!</p><a href="/sponsors">
          <button class="button">Get Involved</button></a>
      </div>
    </div>
  </div>
  <div id="events-container" class="small-12 medium-12 large-3 columns">
    <div id="events-title" class="row">
      <h2>Events</h2>
    </div>
    <div id="events" class="fb_events row">
      <div class="event">
        <h5>No Events Scheduled Currently</h5>
      </div>
    </div>
  </div>
</div>
<div class="footer_padding">
</div>
<%- include('../_partials/footer') -%>
