<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div id="head-img"></div>
<div id="home-container" class="row">
<div id="welcome" class="row">
  <div id="term-padding">
  </div>
  <div id="terminal">
    acm@uiuc$
    <span id="shell"></span>
  </div>
</div>
  <div id="main-container" class="small-12 medium-12 large-9 columns">
    <%- include('../_partials/flash') -%>
    <div id="main-feed" class="row">
      <h4>1965: A Group starts to form</h4>
      <p>Students at University of Illinois start to create a group for those interested in computing, ultimately leading to the formation of ACM@UIUC</p>
      <h4>1967: ACM@UIUC gets its charter</h4>
      <p>On Nov 1st, 1967 the Association for Computing Machinery Student Chapter at the University of Illinois was chartered to create an organization for those interested in Computers.</p>
      <h4>1982: ACM@UIUC becomes 2nd largest ACM student chapter</h4>
      <p>ACM@UIUC is the second largest ACM student chapter in the nation with 250 members. This year ACM's Team wins east section of the Central Regional Scholastic Programming Contest, a programming contest in FORTRAN.</p>
      <h4>1995: Reflections|Projections </h4>
      <p>The first Midwestern ACM Chapter Conference, later named Reflections|Projections was held, starting a 23 year tradition of ACM@UIUC hosting students, academics and members of industry for a conference on the past and the future.
        Notable speakers over the years included Steve Wozniak, Aaron Swartz and Max Levchin. R|P also has included an AI Programming competition called Mechmania since its inception.</p>
      <h4>2001: Caffeine comes online</h4>
      <p>A staple of the office, Caffeine was an internet connected vending machine made by SIGBot for Engineering Open House and has undergone multiple upgrades and overhauls overtime including the current version called Merch.</p>
      <h4>2014: First ever HackIllinois</h4>
      <p>In 2014 the first HackIllinois occurred where students from UIUC and across the nation came to Siebel Center to hack for 36 hours. Over the years HackIllinois has been regarded in the hackathon community as an incredibly fun and well-run event, and more recently its focus on introducing students to Open Source has made it unique in the world of hackathons.</p>
      <h4>2017: ACM@UIUC turns 50 years old</h4>
      <p>ACM@UIUC turns 50 years old, with about 500 members, 18 SIGs, 2 flagship events and continues to be an open community for those interested in computing.</p>
      <p></p>
    </div>
    <div id="involvement" class="row">
      <div id="main-left" class="small-12 medium-12 large-4 columns">
        <h3>Join ACM</h3>
        <p>As an ACM member you get access to our compute cluster, free black and white printing, Beats by ACM, Merch, and many other member perks.</p><a href="/join">
          <button class="button">Join Us</button></a>
      </div>
      <div id="main-center" class="small-12 medium-12 large-4 columns">
        <h3>Special Interest Groups</h3>
        <p>ACM has many Special Interest Groups (SIGs) that work on projects in a wide variety of areas. All SIGs are open to all students, no previous knowledge required!</p><a href="/sigs">
          <button class="button">Learn More</button></a>
      </div>
      <div id="main-right" class="small-12 medium-12 large-4 columns">
        <h3>Sponsors</h3>
        <p>The best way to get involved with ACM@UIUC is to become a part of our corporate sponsorship program!</p><a href="/sponsors">
          <button class="button">Get Involved</button></a>
      </div>
    </div>
  </div>
  <div id="events-container" class="small-12 medium-12 large-3 columns">
    <div id="events-title" class="row">
      <h2>Events</h2>
    </div>
    <div id="events" class="fb_events row">
      <div class="event">
        <h5>No Events Scheduled Currently</h5>
      </div>
    </div>
  </div>
</div>
<div class="footer_padding">
</div>
<%- include('../_partials/confetti') -%>
<%- include('../_partials/footer') -%>
